*.o
*.in
*.la
*.lo
*.a
Makefile
*.deps
*.libs
COPYING
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
languages/*.h
languages/langcheck
libltdl/
libtool
ltmain.sh
missing
src/conf/lexer.c
src/conf/lex.yylexer.c
src/conf/parser.c
src/conf/parser.h
src/services
stamp-h1
ylwrap
