{% extends "base.html" %}
{% load oftctags %}

{% block navmenu %}
  {% if user.is_authenticated %}
    <li><a href="/NickServ/">NickServ</a></li>
    <li><a href="/ChanServ/">ChanServ</a></li>
    <li><a href="/OperServ/">OperServ</a></li>
    <li class="current"><a href="/OperServ/jupe/list">Jupe List</a></li>
    <li><a href="/OperServ/akill/list">AKill List</a></li>
  {% endif %}
{% endblock %}

{% block bodycontent %}
  <h3>Jupe List</h3>
  <br />
  <table class="list">
    <thead>
      <th>Name</th>
      <th>Setter</th>
      <th>Reason</th>
    </thead>
    <tbody>
      {% for access in list %}
        <tr>
          <td>{{ access.name }}</td>
          <td>{{ access.setter.primary_nick.nick }}</td>
          <td>{{ access.reason }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
