{% extends "base.html" %}

{% block body %}
  <p>To register for the site you need to provide a username a password and an
  email address.  The email address is required and will be used to activate
  your account.  It will not be used for any other purpose.<br />
  Don't do something stupid like use your EvE account details on this site.</p>
  <br />
  <div id="registration">
  <form method="post" action=".">
    <table>
    {% for field in form %}
      <tr>
        {{ field.errors }}
      </tr>
      <tr>
        <td>{{ field.label_tag }}:</td><td>{{ field }}</td> 
      </tr>
    {% endfor %}
    </table>
  </div>
  <br />
  <input type="submit" value="Register" />
  </form>
{% endblock %}
