<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="robots" content="index,follow">
    <link href="{{ MEDIA_URL }}/css/style.css" media="all" charset="utf-8" type="text/css" rel="stylesheet">
    <title>OFTC - IRC Services {% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id="sidebar">
      <div id="logo">
        <a href="/"><img src="{{ MEDIA_URL }}/logo.png"></a>
      </div>
      <div class="sidepanel">
        <h1>Navigation</h1>
        <ul id="navbar">
          {% block navmenu %}
          {% endblock %}
        </ul>
      </div>
      <div class="sidepanel">
        <h1>User</h1>
        <ul id="username">
          {% if user.is_authenticated %}
            <li><a href="/auth/logout">Log Out</a></li>
          {% else %}
            <li><a href="/auth/login">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div id="page">
      <div id="content">
        {% block bodycontent %}
        {% endblock %}
      </div>
      <div id="pagebottom"></div>
      <p></p>
      <div id="pagebottom"></div>
    </div>
  </body>
</html>
