Source: oftc-ircservices
Section: devel
Priority: extra
Maintainer: Christoph Berg <myon@debian.org>
Build-Depends: debhelper (>> 7), libevent-dev, libssl-dev, flex, bison, libltdl3-dev
Standards-Version: 3.9.2
Homepage: http://www.oftc.net/releases/
Vcs-Browser: http://git.oftc.net/?p=oftc-ircservices.git
Vcs-Git: git://git.oftc.net/oftc-ircservices.git

Package: oftc-ircservices
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: oftc-hybrid
Description: IRC services as used by oftc.net
 IRC services provide nickname registration (NickServ), channel registration
 (ChanServ), flood detection (FloodServ), IRC operator tools (OperServ), and
 hooks for various scripting languages for custom services.

Package: oftc-ircservices-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, oftc-ircservices (= ${binary:Version})
Description: IRC services as used by oftc.net (debugging symbols)
 IRC services provide nickname registration (NickServ), channel registration
 (ChanServ), flood detection (FloodServ), IRC operator tools (OperServ), and
 hooks for various scripting languages for custom services.
 .
 This package contains the debugging symbols.
