{% extends "base.html" %}

{% block navmenu %}
  {% if user.is_authenticated %}
    <li><a href="/NickServ/">NickServ</a></li>
    <li><a href="/ChanServ/">ChanServ</a></li>
    <li class="current"><a href="/ChanServ/view/{{ channel.channel|slice:"1:" }}">{{ channel.channel }}</a></li>
    <li><a href="/ChanServ/access/list/{{ channel.channel|slice:"1:" }}">Access List</a></li>
  {% endif %}
{% endblock %}

{% block bodycontent %}
  <h3>Channel information for {{ channel.channel }}</h3>
  <table>
    <tr>
      <td>Time Registered</td>
      <td>{{ reg_time }}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ channel.description }}</td>
    </tr>
    <tr>
      <td>URL</td>
      <td>
        {% if channel.url %}
          <a href="{{ channel.url }}" target="_blank">{{ channel.url }}</a>
        {% else %}
          Not set
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>E-mail</td>
      <td>
        {% if channel.email %}
          <a href="mailto:{{ channel.email }}">{{ channel.email }}</a>
        {% else %}
          Not set
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Topic</td>
      <td>{{ channel.topic }}</td>
    </tr>
    <tr>
      <td>Entry message</td>
      <td>{{ channel.entrymsg }}</td>
    </tr>
    <tr>
      <td>Mode lock</td>
      <td>{{ channel.mlock }}</a></td>
    </tr>
    <tr>
      <td>Topic lock</td>
      <td>{% if channel.topic_lock %}On{% else %}Off{% endif %}</td>
    </tr>
    <tr>
      <td>Channel privacy</td>
      <td>{% if channel.flag_privacy %}On{% else %}Off{% endif %}</td>
    </tr>
    <tr>
      <td>Restricted mode</td>
      <td>{% if channel.flag_restricted %}On{% else %}Off{% endif %}</td>
    </tr>
    <tr>
      <td>Verbose</td>
      <td>{% if channel.flag_verbose %}On{% else %}Off{% endif %}</td>
    </tr>
    <tr>
      <td>Auto limit</td>
      <td>{% if channel.flag_autolimit %}On{% else %}Off{% endif %}</td>
    </tr>
    <tr>
      <td>Expire bans</td>
      <td>{% if channel.flag_expirebans %}On{% else %}Off{% endif %}</td>
    </tr>
    <tr>
      <td>Auto op</td>
      <td>{% if channel.flag_autoop%}On{% else %}Off{% endif %}</td>
    </tr>
    <tr>
      <td>Auto voice</td>
      <td>{% if channel.flag_autovoice %}On{% else %}Off{% endif %}</td>
    </tr>
    <tr>
      <td>Auto save</td>
      <td>{% if channel.flag_autosave %}On{% else %}Off{% endif %}</td>
    </tr>
    <tr>
      <td>Leave ops</td>
      <td>{% if channel.flag_leaveops %}On{% else %}Off{% endif %}</td>
    </tr>
    <tr>
      <td>Floodserv</td>
      <td>{% if channel.flag_floodserv %}On{% else %}Off{% endif %}</td>
    </tr>

</table>
{% endblock %}
